@use "variables" as var;

.health__article,
.world__article,
.science__article,
.business__article,
.travel__article {
    display: flex;
    border-bottom: 2px solid var.$secondary-color-light;
    height: max-content;
    width: 100%;
    // overflow-x: hidden;


    &Image {
        width: 100px;
        height: 100px;
        padding: .5em;
        border-radius: 50%;
        object-fit: cover;


    }

    &TextContainer {
        display: flex;
        width: 350px;
        flex-direction: column;
        padding-right: 2em;
        justify-content: center;
      
    }

    &Title {
        font-size: 18px;
        font-family: var.$main-font;
        font-weight: 500;
        color: var.$primary-color-dark;
    }

    &Text {
        font-size: 16px;
        font-family: var.$main-font;
        font-weight: 100;
        color: var.$primary-color-dark;
        padding-bottom: .5em;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        
    }

}

.archiveButton {
    // overflow-x: hidden;
    background-color: var.$primary-color-light;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    max-width: 100px;
    border: none;


    // position: relative;

    // left: 0;


    &__icon {
        color: white;
        font-size: xx-large;

    }
}