@use "variables" as var;


body.darkmode {
    background-color: var.$primary-color-dark;
    color: var.$font-color-light;


    h1 {
        color: var.$font-color-light;
    }


    i {
        color: var.$primary-color-light;
    }

    .settingsCategories {
        background-color: var.$font-color-medium;

        &__subjectTitle {
            color: var.$font-color-light;
        }

        &__box {
            background-color: var.$primary-color-dark;
        }
    }

    .newsboxHeader,
    .archiveHeader,
    .newsboxSearch {
        border-bottom: 2px solid var.$primary-color-light;
    }

    .health__article,
    .world__article,
    .science__article,
    .business__article,
    .travel__article {
        border-bottom: 2px solid var.$primary-color-light;

        &Title {
            color: var.$font-color-light;
        }

        &Text {
            color: var.$font-color-light;
        }
    }

    .worldHeader,
    .travelHeader,
    .businessHeader,
    .healthHeader,
    .scienceHeader,
    .settingsHeader {
        border-bottom: 2px solid var.$primary-color-light;


        &__title {
            color: var.$font-color-light;
        }



        &__displayIcon {
            color: var.$primary-color-light;
        }

        &__iconContainer {

            background-color: var.$secondary-color-light;
            box-shadow: 0 2px 6px var.$font-color-dark;
        }
    }


}