@use "variables" as var;

.settingsHeader {
    display: flex;
    align-items: center;
    padding: 1em 0 1.5em 0;
    border-bottom: 2px solid var(--border-bottom);


    &__title {
        font-family: var.$main-font;
        color: var(--font-color);
        font-size: 20px;
        margin: auto;
    
       
    }

    &__icon{
        left: 1em;
        top: .2em;
        position: relative;
        color:var(--font-color);
        font-size: 20px;
    }

}