@use "variables" as var;

.settingsCategories {
    background-color: var(--light-background);
    
   

    &__title {
        font-family: var.$main-font;
        color: var(--font-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5em 0 2em 0;
        font-size: 28px;

    }

    &__title--font {
        font-weight: 100;
        color: var(--font-color-grey);
        font-size: 18px;

    }

    &__box {
        background-color: var(--box-color);
        margin: auto;
        width: 90%;
        border-radius: 15px;
    }

    &__subject{
        display: flex;
        align-items: center;
        margin-right: 1.3em;
        border-bottom: 1px solid var(--border-bottom);

        &:last-of-type{
            border-bottom: none;
        }
    }

    &__subjectTitle {
        color: var(--font-color);
        font-family: var.$main-font;
        font-size: 18px;
        text-transform: uppercase;
        width: 100%;
        padding: 1.5em;
    }


    .darkmode__container {
        display: flex;
        justify-content: center;
        margin: 3em 0;

        .darkmode__button {
            margin: auto;
            text-align: center;
            padding: .5em .5em;
            border-radius: 50px;
            font-family: var.$secondary-font;
            font-size: 18px;
            font-weight: 100;
            text-transform: uppercase;
            background-color: var(--light-background);
            border: 1px dashed var(--light-placeholder);
            color: var(--font-color-medium);

        }

    }

    .version{
        margin: 2em auto;
        text-align: center;

        &__text{
            font-family: var.$main-font;
            font-weight: 100;
            font-size: 15px;
            color: var(--font-color-medium);
            padding-bottom: 3em;
        }
    }
}